<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Birding App</title>
</head>
<body>
    <h1>About the Birding App</h1>
    <p>This App allows users to track bird sightings both in their backyard and in the wider world.
    The sightings will be saved to a user log, allowing the user to review them whenever they want.
    Additionally, the user will have the option to track environmental information for a sighting,
    as well as to upload a photo of the bird species.</p>
    <p><a href="/">Return Home</a></p>
</body>
</html>